<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%t]-[%c{1}]-[%-5level] -> %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.mongodb.driver.connection" level="DEBUG"/>
        <Logger name="io.miso" level="DEBUG"/>
        <Root level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
